.CartTotal{
    background-color: white;
    flex: 0.3;
    padding: 20px;
    text-align: left;
    min-width: 300px
}

.CartTotal-price{
    margin-left: 8px;
}

.CartTotal button{
    background-color: #F0C14B;
    font-size: 16px;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #a88734;
    padding: 4px 8px;
    cursor: pointer;
}


.CartTotal button:hover{
    background-color: #ddb347;
}

.CartTotal button:focus{
    outline: none;
}

@media screen and (max-width: 850px){
    .CartTotal{
      margin: 18px 0;
      text-align: center;
    }
  }