.CartItem{
    display: flex;
    border-bottom: 1px solid #DDD;
    padding: 12px 0
}

.CartItem-img{
    width: 180px;
    height: 180px;
}

.CartItem-img img{
    object-fit: contain;
    width: 100%;
}

.CartItem-info{
    flex-grow: 1;
}

.info-title h2{
    margin: 0;
    font-size: 18px;
    color: #007185;
}

.info-stock{
    color: #007600;
    margin-top: 4px;
}

.item-action{
    margin-top: 4px;
    display: flex;
    align-items: center;
}

.item-action-divider{
    margin: 0 8px;
    color: #DDD;
    font-weight: bold;
}

.item-delete{
    color: #007185;
}

.item-delete:hover{
    text-decoration: underline;
    cursor: pointer;
}

.item-quantity select{
    background-color: #f0f2f2;
    padding: 8px;
    border-radius: 7px;
    box-shadow: 0px 2px 5px 0px rgba(15,17,17,0.15);
}

.item-quantity select:focus{
    outline: none;
}

.CartItem-price{
    font-size: 18px;
    font-weight: 700;
}